.cstm-header {
    background-color: cyan;
    color:springgreen;
    text-align: center;

}
.cstm-searchBar{
    text-align: center;
}
.cstm-lable{
    font-size: 20px;
    text-decoration: underline;

}